.top {
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo img{
    width: 50px;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.mainContent {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

#mainText {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.container img {
    width: 400px;
    height: auto;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.section1 {
    display:flex;
}

.section1 img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    border:4px solid #3882F6;
}

.section1 p {
    text-align: center;
}

.section2 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 150px;
}

#quote {
    font-size: 36px;
    color: #1F2937;
    font-style:italic;
    font-weight:lighter;
}

#author {
    font-weight: bold;
}

.subscribe {
    background-color: #3882F6;
    margin: 100px;
    border-radius: 15px;
    color: white;
}

#action {
    font-weight: bolder;
}

.footer {
    background-color: #1F2937;
    display: flex;
    color: #F9FAF8;
    justify-content: center;
}

button {
    background: #3882F6;
    color: white;
    padding: 5px;
    border-radius:15px;
    width: 100px;
}