.top {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

img {
    width: 50px;
    height: auto;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.section1 {
    display:flex;
}

.section2 {
    background-color: #E5E7EB;
}

.subscribe {
    background-color: #3882F6;
}

.footer {
    background-color: #1F2937;
    display: flex;
    color: #F9FAF8;
    justify-content: center;
}
